div.wrapper {
  width: 450px;
  height: 660px;
  border: 1px solid;
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  flex-wrap: wrap;
}

div.wrapper div {
  height: 110px;
}

div.answer {
  flex-basis: 100%;
}

div.ac {
  flex-basis: 75%;
}

div.number {
  background-color: darkgray;
  flex-basis: 25%;
}

div.operator {
  flex-grow: 1;
}
